@tailwind base;
@tailwind components;
@tailwind utilities;

/*Editable => Used to setup the main theme of the project. That way we don't have to set them up again in other pages*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('./assets/images/background.png');
  font-family: 'Montserrat', Helvetica, sans-serif;
}

header, .nasa-font {
  font-family: 'Nasalization', sans-serif;
}

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Nasalization.woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Montserrat-Regular.woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Montserrat-Bold.woff');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-yellow {
  font-family: 'Nasalization';
  padding: 15px 30px;
  background-color: #F3B643;
  border-radius: 100px;
  color: black;
  transition: background-color 0.3s ease-in-out;
}

.btn-yellow:hover {
  background-color: #d59011;
}

.font-nasalization {
  font-family: 'Nasalization';
}

/*Boxes used for the dashboard mainly*/
.box-color-dashboard {
  background-color: rgb(217 217 217 / 0.8);
}

.box-color-lesson {
  background-color: rgb(243 182 67 / 0.8);
}